/* Custom Code Felix Buhler */

a.store-link {
    font-family: beaufort-pro, serif !important;
    text-transform: uppercase;
}

.image-wrapper, .primary-product-image-container {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.image-wrapper:before, .primary-product-image-container:before {
    left: 0px;
    top: 0px;
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 20px;
    position: absolute;
    display: block;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;

}

@media screen {
    .horizontal-nav-links {

        box-shadow: none;
        margin-top: 1px !important;
        background: rgba(0, 0, 0, 0.1) !important;
        backdrop-filter: blur(30px) !important;
        -webkit-backdrop-filter: blur(30px) !important;
        border-radius: var(--border-radius);
    }

    .nav-menu-item {
        border: 1px solid currentColor;
        border-radius: var(--border-radius);
    }

    .horizontal-nav-link:hover,
    .horizontal-nav-link:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }



}

@media (hover: hover),
not all {

    .product-list-thumb:hover .product-list-thumb-name {
        text-decoration: none !important;
        border: 1px solid currentColor;
        border-radius: var(--border-radius);
    }
}

.button:not(:disabled):hover,
.button:not(:disabled):active,
.button:not(:disabled):focus,
a.button:not(:disabled):hover,
a.button:not(:disabled):active,
a.button:not(:disabled):focus {
    background-color: #1D1D1D !important;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: #00ff00;
}