/* Custom Code Felix Buhler */


.image-wrapper {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.image-wrapper:before {
    left: 0px;
    top: 0px;
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 20px;
    position: absolute;
    display: block;
    z-index: 9;
    margin-top: 0;
    margin-left: 0;

}

@media screen {
    .horizontal-nav-links {

        box-shadow: none;
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border-radius: var(--border-radius);
    }
}

@media screen {
    .nav-menu-item {
        border: 1px solid currentColor;
        border-radius: var(--border-radius);
    }
}